<p>
    Недавняя публикация про сопливых детей вызвала бурю возмущения в родительских массах. Давайте попробуем разобраться, почему дети болеют в детском саду и, главное, как можно на это повлиять.
</p>
<p>
    К сожалению, дети, посещающие детский сад, могут болеть до 12–16 раз в год. Сложно назвать это нормой. Скорее, это можно назвать обычным явлением. Каковы же причины этого «обычного явления»?
</p>
<p>
    <b>1. Особенности социального поведения.</b><br>
    Дошкольники общаются значительно более тесно, нежели школьники. Чем младше ребёнок, тем больше познавание мира и сверстников завязано на тактильном контакте. Тем больше вероятности заразиться вирусной инфекцией. В школе начинается разобщение, ограничение тесных контактов — дети болеют реже.
</p>
<p>
    Как решить проблему?<br>
    Время.
</p>
<p>
    <b>2. Рост детей.</b><br>
    Чем ниже ребёнок, тем выше концентрация вирусов, выделяемых окружающими, около его лица — капельки влаги, летящие из носов и ртов, благодаря силе всемирного тяготения, стремятся вниз, а не вверх. Чем выше становится ребёнок, тем быстрее он уходит из взвеси вирусов, которая остаётся внизу.
</p>
<p>
    Как решить проблему?<br>
    Время.
</p>
<p>
    <b>3. Личная гигиена.</b><br>
    Чем младше дети, тем хуже они соблюдают правила личной гигиены. А в детских садах с большим количеством детей в группе снижен контроль за тем, как и когда дети моют руки и лицо (да, лицо тоже нужно регулярно ополаскивать!). Школьники взрослеют и начинают, в большинстве своём, следить за чистотой кожи рук и лица.
</p>
<p>
    Как решить проблему?<br>
    Приучить детей мыть руки и лицо прохладной водой несколько раз в день.
</p>
<p>
    <b>4. Дневной сон.</b><br>
    Конечно, не сам дневной сон повышает частоту ОРВИ, а его условия. Немногие детские сады могут похвастаться отдельной спальней, в которой дети отдыхают на достаточном расстоянии друг от друга. Частая проблема — многоярусные кровати из вызвижных ящиков — тут, как несложно догадаться, больше всех «везёт» тому, кто спит в самом низу. Школьники не спят в школе, у них меньше шансов заболеть ОРВИ.
</p>
<p>
    Как решить проблему?<br>
    Забирать ребенка домой после обеда, искать детский сад с просторной спальней. Фантастика, правда? Значит, смирение.
</p>
<p>
    <b>5. Несоответствие гигиеническим нормам температуры и влажности воздуха в детских садах.</b><br>
    <nobr>Почему-то</nobr> в детском саду всегда сухо и жарко. А ведь температура не должна превышать 19–20 градусов, а влажность должна быть не менее 40–50%. Покупка мойки воздуха, <nobr>климат-контроль</nobr> или, хотя бы, постоянное проветривание могли бы помочь, но….<br>
    В школах ситуация тоже не ахти какая, но жары в 25 градусов уже нет, поэтому ситуация гораздо лучше.
</p>
<p>
    Как решить проблему?<br>
    Требовать наладить климат в детском саду.
</p>
<p>
    <b>6. Наличие в группе откровенно больных, а не просто сопливых детей.</b><br>
    Многие родители ведут в сад больного ребенка, потому что им некуда его деть. Просто насморк без ухудшения самочувствия — это, собственно, не болезнь. Это состояние, которое в англоязычных источниках называют common cold. Не заразно, но неприятно для окружающих.
</p>
<p>
    Решение проблемы — …. ну, это проблема государственной поддержки родительства. Боюсь, что мы не сможем ее решить.
</p>
<p>
    <b>7. Отсутствие нормальной информированности родителей о мерах профилактики ОРВИ помимо вышеупомянутых.</b><br>
    Многие уверены, что оксолиновая мазь, промывание носа, виферон и прочие -фероны, гомеопатические горошки, чеснок <nobr>и т. п.</nobr> успешно предотвращают ОРВИ. Увы, это совершенно не соответствует действительности. Сейчас поднимется лес рук: «а мне помогает». И придется сделать маленькое отступление.
</p>
<p>
    Во всем мире медицина основана на фактах и доказательствах. Почти во всём. 1/6 суши, увы, живет по другому принципу — «у нас так принято». Огромное количество препаратов, не имеющих доказанных эффективности и, главное, безопасности, «работает» исключительно потому, что так совпало. После — не значит, <nobr>из-за</nobr>. Помогает чеснок в коробочке от <nobr>киндер-сюрприза</nobr>? — (у ребенка нет аллергии, у окружающих не подступает тошнота к горлу <nobr>и т. п.</nobr>) — ОК, используйте! Но давать ребенку препарат с недоказанными эффективностью и безопасностью или же с доказанными неэффективностью и небезопасностью не стоит. Это важно.
</p>
<p>
    Позднее мы подробно поговорим о многих заблуждениях, а сейчас вернёмся к детскому саду.
</p>
<p>
    <b>Итак, эффективны и безопасны</b>:
</p>
<p>
    — вакцинация от гемофильной и пневмококковой инфекций — снижают риск тяжелых осложнений ОРВИ<br>
    — витамин Д — снижает риск ОРВИ. Его должны принимать все дети с рождения до 3 лет (сейчас обсуждается приём до 7–8 лет) ежедневно круглый год без перерывов в дозировке 500 МЕ вне зависимости от региона проживания и количества солнечных дней (кстати, от солнца нужно защишаться, но об этом отдельно и позже)<br>
    — вакцинация от гриппа в учреждениях закрытого типа (круглосуточные детские сады, кадетский корпус <nobr>и т. п.</nobr>)
</p>
<div class="row">
    <div class="col-md-1 col-sm-2 col-xs-12">
        <a class="box_img_author" href="/staff/vasileva-natalya-rashidovna/"><img class="signature-img" alt="Васильева Наталья Рашидовна" src="/upload/iblock/06c/06c5b01d08dac58d6ac85a581a614590.jpg" style="border-radius: 100%;"></a>
    </div>
    <div class="col-md-11 col-sm-10 col-xs-12">
        <p>
            <a href="/staff/vasileva-natalya-rashidovna/">Васильева Наталья Рашидовна</a><br>
            <b><a href="/detskaya-klinika/pediatriya/priem-pediatra/">врач-педиатр</a></b>
        </p>
    </div>
</div>