html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'Gotham-Regular';
    src: url('../fonts/GothamPro/GothamPro.eot');
    src: local('Gotham Pro'), local('GothamPro'),
    url('../fonts/GothamPro/GothamPro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro/GothamPro.woff') format('woff'),
    url('../fonts/GothamPro/GothamPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham-Bold';
   src: url('../fonts/GothamPro/GothamPro-Bold.eot');
    src: local('Gotham Pro Bold'), local('GothamPro-Bold'),
        url('../fonts/GothamPro/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro/GothamPro-Bold.woff') format('woff'),
        url('../fonts/GothamPro/GothamPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham-Medium';
    src: url('../fonts/GothamPro/GothamPro-Medium.eot');
    src: local('Gotham Pro Medium'), local('GothamPro-Medium'),
    url('../fonts/GothamPro/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro/GothamPro-Medium.woff') format('woff'),
    url('../fonts/GothamPro/GothamPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Medium';
    src: url('../fonts/Lato/Lato-Medium.ttf');
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato/Lato-Bold.ttf');
}
header{
    height: 60px;
    background: #6b6b6b;
    max-width: 1920px;
    min-width: 1380px;
    margin: 0 auto;
}
main {
    max-width: 1920px;
    min-width: 1380px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background: #f0f0f0;
}
main .top h1{
    font-family: 'Gotham-Regular';
    font-size: 30px;
    display: inline-block;
}
main .right_side{
    width: 100%;
    /* margin-left: 220px; */
    overflow: hidden;
    min-height: 100vh;
    background: #ffffff;
}
main .top{
    display: flex;
    align-items: center;
    padding: 9px 40px;
    padding-left: 50px;
    justify-content: space-between;

}
.btn_master{
    font-family: 'Lato-Bold';
    color: #ffffff;
    background: #56bad8;
    border: 2px solid #56bad8;
    padding: 17px 50px;
    font-size: 12px;
    /* width: 210px; */
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    /*-webkit-box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.32);
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.32);*/
}
.btn_master:hover,
.btn_master.active{
    background: #ffffff;
    color:#56bad8;
}
.left_side{
    min-width: 220px;
    background: #f0f0f0;
    position: absolute;
    height: 100%;
}
.slick-dotted.slick-slider {
     margin-bottom: 0px!important; 
}
.slider_title{
    background: #4d5d6a;
    width: 255px;
    height: 70px;
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 999;

}
.slider_title span{
    font-family: 'Gotham-Medium';
    color: #ffffff;
    font-size: 12px;

}
.company_slider-item{
    height: 50px!important;
    display: flex!important;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    position: relative; 
    border:4px solid transparent;
}
.company_slider .slick-list {
    float: left;
    position: relative;
    display: block;
    overflow: visible;
    margin: 0;
    padding: 0;
    width: 65%;
    z-index: 99;
    height: 70px;
}
.company_slider .slick-track{ height: 70px; margin-left: 0; margin-right: 0; }
.time_slider .slick-list { min-height: 1100px; }

.time_slider .slick-track{ margin-left: 0; margin-right: 0; }

/*.company_slider.slick-initialized .slick-slide{
    min-width: 145px;
}*/
.company_slider-item{
    padding: 2px 0px;

    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);

    transition: all 0.3s;

}

.company_slider-item:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%);
    cursor: pointer;
}

.company_slider-item .company-details{
    position: absolute;
    width: 150px;
    background: #ffffff;
    border: 2px solid #52aeca;
    top: 67px;
    margin: 0!important;
    display: block!important;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: none!important;
    min-height: 70px;
    height: auto !important;
    left: 0;

}
.company_slider-item .company-details.active{
    display: block!important;
}
.company_slider-item .company-details:before{
    content: " ";
    position: absolute;
    top: -22px;
    left: calc(50% - 18px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 18.5px 21px 18.5px;
    border-color: transparent transparent #52aeca transparent;
}
.company_slider-item .company-details:after{
    content: " ";
    position: absolute;
    top: -19px;
    left: calc(50% - 18px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 18.5px 21px 18.5px;
    border-color: transparent transparent #ffffff transparent;
}
.company_slider-item .company-details p{
    text-align: center;
    font-family: 'Gotham-Regular';
    font-size: 12px;
}
.company_slider-item .company-details .comp_btn{
    text-transform: uppercase;
    color:#52aeca;
    font-family: 'Gotham-Bold';
    font-size: 10px;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
}
.company_slider-item .company-details .comp_btn:hover{
    text-decoration: underline;
}
.company_slider-item .close_slide{
    position: absolute;
    top: -9px;
    right: -6px;
    background: #7b60b3;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 3px solid #7b60b3;
    font-family: 'Gotham-Medium';
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-size: 11px;
    line-height: 9px;
    display: none;  
}
.company_slider-item.active .close_slide{
    display: block; 
}
.close_slide:hover{
    background: #ffffff;
    color: #7b60b3;
}

.company_slider-item.active{
    border:4px solid #7b60b3 ;

    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%);
}
.dark_bg{
    background: #dfddde;
}
.company_slider .slick-slide img {
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.company_slider .slick-slide div{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    height: 70px;
    margin: 0px 4px;
    box-sizing: border-box;
}
.datepicker{
    background: #647684;
    width: 255px;
    height: 50px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    box-sizing: border-box;
}
.datepicker p{
    width: 86%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;    
    justify-content: space-between;  
    color:#fff; 
    font-family: 'Gotham-Medium';
}
.datepicker p span{
    font-size: 12px;
    margin-left: 5px;
}
#datepicker{
    width: 69px;
    background-color: transparent;  
    border: none;
    outline: none;
    color:#fff;
    font-size: 11px;
    font-family: 'Gotham-Medium';
}
#datepicker::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
   font-family: 'Gotham-Medium';
}
#datepicker::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
   font-family: 'Gotham-Medium';
}
#datepicker:-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
   font-family: 'Gotham-Medium';
}
#datepicker:-moz-placeholder { /* Firefox 18- */
  color: #ffffff;
   font-family: 'Gotham-Medium';
}
#ui-datepicker-div.ui-widget-content {
    border: none;
    background: #647684;
    color: #ffffff;
    left: 220px!important;
    top: 272px!important;
    width: 249px;
    border-radius: 0;
    z-index: 99999!important;
}
#ui-datepicker-div .ui-widget-header {
    border: none;
    background: transparent;
    color: #ffffff;
    font-weight: bold;
}
#ui-datepicker-div .ui-state-default,
#ui-datepicker-div .ui-widget-content .ui-state-default {
    border: none;
    background: transparent;
    color: #ffffff;
    font-weight: normal;
    text-align: center; 
}
#ui-datepicker-div .ui-state-default:hover,
#ui-datepicker-div .ui-widget-content .ui-state-default:hover{
    color:#56bad8;
}
#ui-datepicker-div .ui-state-active, #ui-datepicker-div .ui-widget-content .ui-state-active{
    color:#56bad8;
}
.ui-datepicker .ui-datepicker-next{
    background: url(../img/arr_right.png) center no-repeat;
}
.ui-datepicker .ui-datepicker-prev{
    background: url(../img/arr_left.png) center no-repeat;
}
.ui-datepicker .ui-datepicker-next:hover{
    background: url(../img/arr_right_black.png) center no-repeat;
    border: none;   
    cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev:hover{
    background: url(../img/arr_left_black.png) center no-repeat;
    border: none;   
    cursor: pointer;
}

.ui-datepicker th,
.ui-datepicker td{
    font-weight: normal!important;
    font-family: 'Gotham-Regular';
    font-size: 12px; 
}
.ui-datepicker td{
    font-size: 14px;
}
.ui-datepicker th:nth-of-type(6) {
    color: #56bad8;
}
.ui-datepicker th:last-of-type {
    color: #56bad8;
}
.ui-datepicker-year:before{
    content: " ";
    width: 8px;
    height: 8px;
    background: #27c8e9;
    border-radius: 50%;
    display: inline-block;  
    margin-right: 13px;
    margin-left: 7px;
}
.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    font-size: 12px;
    text-align: center;
    font-weight: normal; 
    font-family: 'Gotham-Regular';   
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.4em!important;
}
.ui-datepicker-trigger{
    cursor: pointer;    

}
.choose_block{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; 
    width: 100%;
}
.choose_object{
    width: calc(100% - 255px);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;  
    justify-content: space-between; 
    height: 50px;  
    -ms-align-items: center;
    align-items: center;    
    padding-left: 35px; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    border-bottom:1px solid #000;
    position: relative; 
}
.choose_object.active{
    border-bottom: none;    
}

.choose_object span{
    cursor: pointer;
    color: #27c8e9;
    font-size: 12px;
    font-family: 'Gotham-Medium';
    padding-right: 40px;    
    background: url(../img/arr_down_black.png) right center no-repeat;
}
.choose_object.active span{
    background: url(../img/arr_calend_up.png) right center no-repeat;

}
.search_btn{
    background: #27c8e9;
    border: none;
    outline: none;
    color:#fff;
    font-family: 'Gotham-Regular';
    height: 50px;   
    width: 175px;
    cursor: pointer;  
    font-size: 12px; 
    border: 2px solid #27c8e9;   
}
.search_btn:hover{
    background: #ffffff;
    color:#27c8e9;
}
.choose_dropdown{
    width: calc(100% - 175px);
    position: absolute; 
        top: 100%;
    transition: all ease 0.5s;
    min-height: 0;  
    background: #ffffff;
    opacity: 0;
    z-index: -99; 
    box-sizing: border-box;
}
.choose_dropdown.active{
    border:1px solid #000;
    border-top: none;  

    opacity: 1;
    z-index: 1;
    left:0px;
    min-height: 400px;
}
.items_wrap{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;  
    justify-content: space-around; 
    padding: 0px 20px;
    margin-bottom: 10px;    
}

.choose_item{
    max-width: 255px;
    width: 100%;
    position: relative; 
}
.item_img {
    text-align: center; 
    max-width: 221px;
    width: 100%; 
    margin: 0 auto;
    position: relative;    
}
.over_lay_img{
    position: absolute;
    max-width: 195px;
    left: 5px;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;  
    -ms-align-items: center;
    align-items: center;    
    justify-content: center;    
    color:#fff;
    top: 5px;
    height: 100px;
     font-family: 'Gotham-Bold';
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.over_lay_img b{
    font-size: 12px;
}
.choose_item.active .over_lay_img{
    display: none;  
}
.item_descr{
    max-width: 191px;
    width: 100%; 
    margin: 0 auto;
    display: none;
}
.item_descr b{
    font-family: 'Gotham-Bold';
}
.item_descr p{
     font-family: 'Gotham-Regular';
     color:#4b4b4b;
     font-size: 12px;
}
.item_img img{
    width: 95%;
    height: auto;
    object-fit: cover;
    vertical-align: middle;
}

.choose_item .close_item{
    position: absolute;
    top: -9px;
    right: -9px;
    background: #27c8e9;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 3px solid #27c8e9;
    font-family: 'Gotham-Medium';
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-size: 11px;
    line-height: 9px;
    display: none;  
    z-index: 2;
}
.choose_item .close_item:hover{
    background-color: #ffffff;
    color: #27c8e9;
}
.choose_item.active .close_item{
    display: block; 
}
.choose_item .item_img .img_wrap{
    padding: 4px 0px;
    width: 88%;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}
.choose_item.active .item_img .img_wrap{
    border: 3px solid #27c8e9;
}
.aside_time{
    min-width: 50px;
    background: #647684;
    min-height: 100vh;
    padding-bottom: 40px;
    position: relative;
    padding-top: 108px; 
}
.aside_time_title{
    transform: rotate(-90deg);
    width: 118px;
    position: absolute;
    left: -35px;
    top: 50px;
    font-size: 14px;
    color: #ffffff;
    font-family: 'Gotham-Medium';
}
.time_item{
    color:#ffffff;
    text-align: center;
    font-family: 'Lato-Medium';
    font-size: 12px;    
    margin-top: 22.9px;
}
.time_title{
    color:#4b4b4b;
    font-family: 'Gotham-Bold';
    min-height: 72px;
    position: relative;
}
.time_title .more_info{
        background: url(../img/vertical_dots_mint.png);
        top:53px;
}
.time_title .more_info_dropdown .more_info{
    background: url(../img/vertical_dots_mint.png);
    top:5px;
}
.time_title .more_info_dropdown {
    min-height: 30px;
    height: 30px;
    padding: 6px!important;
    width: 300px;
    right: -281px;
    top: 47px;
    border: 1px solid #52aeca;
}
.time_title .more_info_dropdown .inner_info_wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    -ms-align-items: center;
    align-items: center;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.time_title .more_info_dropdown .inner_info_wrap a{
    margin:0 5px;
   
}

.info_block{
    display: flex;
}

.time_wrap{
   width: 97%!important;
    float: left;
}

.slick-initialized .slick-slide {
    display: block;
    outline: none;
}
.time_title{
    background: #ffffff;
    margin-bottom: 5px;
}
.time_title p{
    text-align: center;
    font-family: 'Gotham-Bold';
    padding: 15px 0;
    font-size: 12px;
}
.time_slider{
        width: calc(100% - 50px);
    background: #f0f0f0;
    padding-top: 40px;
    padding-left: 5px;
    box-sizing: border-box;
}
/*.time_slider.slick-initialized .slick-slide {
    display: block;
    width: 301px!important;
}*/

.icons_wrap{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

.icons_wrap a{
    margin:0 5px;
}
.time_main_item{
    background: #ffffff;
    height: 30px;
    margin-bottom: 5px;
    color:#fff;
    font-family: 'Gotham-Regular';
    display: flex;
    align-items: center;
    justify-content: center;
}
.time_main_item.active{
    background: #8267ba;
    margin-bottom: 0;
    padding-bottom: 5px;
}
.time_main_item.active.last{
    padding-bottom: 0px;
}

.time_main_item span{
    display: inline-block;
    width: 67%;
    margin: 0 0px 0px auto;
    position: relative;
    font-size: 12px;
}
.time_ic:before{
    content:" ";
    background: url("../img/time_icon.png") no-repeat;
    width: 16px;
    height: 16px;
    background-size: cover;
    display: inline-block;
    position: absolute;
    left: -40px;
    top: -3px;

}
.study_ic:before{
    content:" ";
    background: url("../img/study_ic.png") no-repeat;
    width: 28px;
    height: 14px;
    background-size: cover;
    display: inline-block;
    position: absolute;
    left: -52px;
    top: -3px;
}
.ev_day_ic:before{
    content:" ";
    background: url("../img/calendar_icon.png") no-repeat;
    width: 16px;
    height: 14px;
    background-size: cover;
    display: inline-block;
    position: absolute;
    left: -44px;
    top: -3px;
}
.order{ margin-bottom: 5px; position: relative; }
.more_info{
    background: url(../img/vertical_dots_white.png) no-repeat;
    display: inline-block;
    width: 4px;
    height: 18px;
    z-index: 2;
    position: absolute;
    top: 7px;
    right: 7px;
    cursor: pointer;
}
.more_info_dropdown{
    position: absolute;
    right: -452px;
    width: 470px;
    top:0px;
    z-index: 2;
    min-height: 115px;
    padding: 25px 5px 22px 25px;
    box-sizing: border-box;
    background: #ffffff;
    border: 1px solid #8267ba;
    display: none;
}
.more_info_dropdown p{
    color:#6b6b6b;
    /*font-family: 'Gotham-Regular';*/
    font-family: 'Gotham-Bold';
    cursor: pointer;
    margin-bottom: 8px;
    font-size: 12px;
}
.more_info_dropdown p:hover{
    font-family: 'Gotham-Bold';
}
.more_info_dropdown .more_info{
    background: url(../img/vertical_dots_purp.png);
    display: inline-block;
    width: 4px; height: 18px;
    position: absolute;
    top: 7px; left: 7px;
}
.more_info_dropdown p .more_click{
    opacity: 0;
    transition: all 0.3s;
    float: right;
    display: none; /*display: flex;*/
    font-size: 11px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-sizing: border-box;
    font-family: 'Gotham-Regular';
    float: right;
    height: 15px;
    line-height: 6px;
    background: #4b4b4b;
    border: 2px solid #4b4b4b;
    color: #ffffff;
    width: 15px;
}
.more_info_dropdown p .more_click.active/*,
.more_info_dropdown p:hover .more_click*/{
    opacity: 1;

}
.more_info_dropdown p.active{
    font-family: 'Gotham-Bold';
}
.more_info_dropdown p:hover .more_click:hover{
    background: transparent;
    border: 2px solid #4b4b4b;
    color:#4b4b4b;
    display: none;
}
.inner_info_wrap{
    position: relative;
}
.inner_info{
    position: absolute;
    top:100%;
    background: #fff;
}
.inner_item{
    font-family: 'Gotham-Regular';
    font-size: 12px;
    color:#6b6b6b;
    margin-bottom: 10px;
    overflow: hidden;
}
.inner_item b{
    color:#976fe4;
    float: right;
    font-family: 'Gotham-Bold';
}
.more_info_dropdown.active{
    width: 320px;
    min-height: 220px;
    right: -300px;
}
.inner_info{
    display: none;
}
.inner_info.active {
    position: relative;
    display: block;
    margin-top: 15px;
    top: 100%;
    left: 0px;
    z-index: 99;
    height: auto;
    background: #fff;
    padding-right: 20px;
}
.more_info_dropdown.active .inner_info_wrap{
    /* display: none; */
}
.more_info_dropdown.active .inner_info_wrap.active{
    display: block;
}
.item_full{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.time_main_item.booking:hover{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   border-left: 4px solid #52aeca ;
   cursor: pointer;
}
.time_main_item.booking:hover .booking_txt{
    text-align: center;
    color:#6b6b6b;
    font-family: 'Gotham-Regular';
    text-transform: uppercase;
    font-size: 12px;
    width: 100%;
    height: 100%;
    line-height: 30px;
}
.time_main_item.booked{
    background: #52aeca ;
    padding-bottom: 0;
}
.time_main_item.booked span{
    margin: 0;
}
.booked_txt{
    color:#fff;
    font-size: 12px;
    text-align: center;
    font-family: 'Gotham-Regular';
    text-transform: uppercase;
}
.bookin {
    margin-bottom: 5px;
    position: relative;
}
.bookin .more_info_dropdown p a{
    text-decoration: none;
    color: #6b6b6b;
    font-family: 'Gotham-Medium';
    text-align: center;
    display: block;
    margin-top: 5px;
    font-size: 15px;
}
.bookin .more_info_dropdown{
       height: 30px;
    min-height: 30px;
    padding: 0px!important;
    width: 300px;
    right: -280px;
    border: 1px solid #52aeca;
}
.more_info_dropdown.ordering p{
    margin: 0;
}
.bookin .more_info_dropdown .more_info {
    background: url(../img/vertical_dots_mint.png);
    display: inline-block;
    width: 4px;
    height: 18px;
    position: absolute;
    top: 5px;
    left: 7px;
}
.time_slider.slick-initialized .slick-slide{
    width: 200px !important;
} 
.time_slider .slick-next {
    background: url(../img/time_right_arr.png)!important;
        right: 0px;
}
.time_slider .slick-prev {
    background: url(../img/time_left_arr.png)!important;
   
        left: 269px;
}
.time_slider .slick-next:hover {
    background: url(../img/time_right_arr_hov.png)!important;

}
.time_slider .slick-prev:hover {
    background: url(../img/time_left_arr_hov.png)!important;

}
.time_slider .slick-prev, .time_slider .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 51px;
    height: 101px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    z-index: 9999;
    color: transparent;
    border: none;
    outline: none;
}
.time_slider .slick-prev{
    left: 0;
}
.time_slider .slick-disabled{
    opacity: 0;
}
@media (max-width: 1500px){
    .item_descr {
        max-width: 123px;
        margin-top: 5px;
    }
    .item_descr p{
        font-size:11px;
    }
    .over_lay_img b{
        font-size: 12px;
    }
}

/**/
.list-enter-active, .list-leave-active {
transition: all 1s;
}
.list-enter, .list-leave-to /* .list-leave-active до версии 2.1.8 */ {
opacity: 0;
transform: translateY(30px);
}

.time_main_item span.booking_type{
    margin: 0
}
.time_main_item.active>img{
    margin: 0 auto
}
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* background: rgba(27, 24, 24, 0.32); */
    background: #4d5d6a;
    opacity: 0.5;
    z-index: 1000;
    display: none;
}


/* Моргание */
.blink {
    /*-webkit-animation: blink 1.0s linear infinite;
    animation: blink 1.0s linear infinite;*/


    /*-webkit-animation: pulsate 1s linear infinite;
    animation: pulsate 1s linear infinite;*/

    -webkit-animation: pulsate 4s infinite ease-in-out;
    animation: pulsate 4s infinite ease-in-out;

}
/*@-webkit-keyframes blink {
    !*50% { background: rgba(39, 200, 233, 1); color: rgba(255, 255, 255, 1); }
    51% { background: rgba(39, 200, 233, 0); color: rgba(255, 255, 255, 0);  }*!
    50% { background: rgba(39, 200, 233, 1); color: rgba(255, 255, 255, 1);  }
    100% { background: rgba(39, 200, 233, 0); color: rgba(255, 255, 255, 0);  }
}
@keyframes blink {
    !*50% { background: rgba(255, 255, 255, 1); color: rgba(86, 186, 216, 1); }
    51% { background: rgba(255, 255, 255, 1); color: rgba(86, 186, 216, 0);  }*!
    50% { background: rgba(255, 255, 255, 1); color: rgba(86, 186, 216, 1);  }
    100% { background: rgba(255, 255, 255, 0); color: rgba(86, 186, 216, 0);  }
}*/


@keyframes pulsate{
    0%{ background: rgba(255, 255, 255, 1); color: rgba(86, 186, 216, 1);  }
    40% { background: rgba( 86, 186, 216, 1); color: rgba(255, 255, 255, 1); }
    60% { background: rgba( 86, 186, 216, 1); color: rgba(255, 255, 255, 1); }
    100%{ background: rgba(255, 255, 255, 1); color: rgba(86, 186, 216, 1);  }
}

.workarea-content-paddings {
    padding-top: 0!important;
}

#search_input {
    font-family: Gotham-Regular;
    width: 58%;
    float: right;
    position: absolute;
    right: 200px;
    padding: 5px 10px;
    color: #4b4b4b;
}