html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0; 
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

header{
    height: 60px;
    background: #6b6b6b;
    max-width: 1920px;
    min-width: 1380px;
    margin: 0 auto;
}
main {
    max-width: 1920px;
    min-width: 1380px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background: #f0f0f0;
}
main .top h1{
    font-family: 'Gotham-Regular';
    font-size: 30px;
    display: inline-block;
}
main .center_side{
    width: 100%;
    /* margin-left: 220px; */
    overflow: hidden;
    min-height: 100vh;
    background: #eef2f5;
}
.content_side_center{
    max-width: 1105px;
    width: 100%;
    min-height: 100vh;
}
.content_sides{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
}
.right_side{
    width: calc(100% - 1105px);
    min-height: 100vh;
    background: #fff;
}
.left_side{
    min-width: 220px;
    background: #f0f0f0;
    position: absolute;
    height: 100%;
}
.breadcrumbs{
    height: 64px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    padding-left: 25px;
    background: #ffffff;
    margin: 5px 0px;
    max-width: 640px;
}
.breadcrumbs li{
    list-style: none;
    display: inline-block;
}
.breadcrumbs a{
    font-family: 'Gotham-Regular';
    font-size: 18px;
    color:#4b4b4b;
    text-decoration: none;
}
.breadcrumbs a.active:before{
    content:" ";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #27c8e9;
    display: inline-block;
    margin:0px 15px;
}
.breadcrumbs a.active{
    font-family: 'Gotham-Bold';
}
.content_item{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.content_left{
    max-width: 255px;
    width: 100%;

}
.content_right{
    max-width: 1105px;
    width: 100%;

}
.descr_title{
    color:#4b4b4b;
    font-family: 'Gotham-Bold';
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 15px;
}
.content_left_item{
    width: 100%;
    text-align: center;
    color:#ffffff;
    font-family: 'Gotham-Medium';
    font-size: 12px;
        display: flex;
    align-items: center;
    padding-left: 40px!important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
        line-height: 24px;
    
}
.slide_comp{
    position: relative;
}
.content_right_item{
    width: 100%;
    padding-left: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    align-items: center;
    display: flex;
}
.ai_center{
    -ms-align-items: center!important;
    align-items: center!important;
}
.item_start{
    align-items: flex-start;
    padding: 15px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.p-15{
    padding: 15px 10px 15px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content_right_item textarea{
    width: 100%;
    text-align: left;
    /*min-height: 94px;*/
    resize: none;
    line-height: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*padding: 5px 10px;*/
    padding: 15px 0 0 5px;
    outline: none;
    font-size: 14px;
    color:#4d4d4d;
    font-family: 'Gotham-Regular';
    background: transparent;
   /* border:1px solid #000;*/
      width: 798px;
   border: none;
}



.m-h50{
    min-height: 50px;
    height: 100%;
}
.m-h55{
    min-height: 55px;
    height: 100%;
}
.mh-45{
    min-height: 45px!important;
}
.m-h60{
    min-height: 60px;
}
.m-h70{
    min-height: 70px;
}
.m-h80{
    min-height: 80px;
}
.m-h120{
    min-height: 120px;
    height: 100%;
}
.m-h150{
    min-height: 150px;
    height: 100%;
}
.m-h250{
    min-height: 250px;
}
.w-100{

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}
.bb-none{
    border-bottom: none!important;
}
.bt-none{
    border-top: none!important;
}
.space_between{
    justify-content: space-between;
}
.pr-10{
    padding-right: 10px;
}
.content_right_item input{
   font-size: 14px;
    color: #4d4d4d;
    font-family: 'Gotham-Medium';
    padding: 5px 0px 5px 7px;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: transparent;
    border: none;
}
.content_right_item input.active{
    border: 1px solid #000;
}
.w-290{
    width: 290px;
}
.w-100-procent{
    width: 100%;
}
.scheme{
    text-decoration: none;
    color:#27c8e9;
    font-family: 'Gotham-Medium';
    font-size: 12px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}
.scheme:after{
    content: " ";
    height: 1px;
    width: 26px;
    margin-left: 20px;
    display: inline-block;
    background: #27c8e9;
}
.input_wrap span{
     color: #4d4d4d;
     font-family: 'Gotham-Medium';
     font-size: 14px;
}
.input_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input_wrap{
    border: none;
    padding: 5px 10px;
    width: 100%;
}
.input_wrap.active{
    border:1px solid #000;
        padding: 5px 10px;
}
.close_slide{
    display: none;
}
.company-details{
    display: none;
}
.company_slider-item{
    padding: 16px 0px;
    display: inline-block;
    margin-right: 20px;
}
.company_slider .slick-list{
    overflow: visible;
}
.company-details{
    position: absolute;
    width: 150px;
    z-index: 1;
    background: #ffffff;
    border: 2px solid #52aeca;
    top: 40px;
    left: -68px;
    margin: 0!important;
   
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
    min-height: 33px;
    height: auto !important;

}
.slide_card{
    position: relative;
}
.card_slider-item_inner{
    background: #dde6ea;
    color:#ffffff;
    height: 34px;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    font-family: 'Gotham-Medium';
    font-size: 12px;
    margin: 10px auto;
}
.card_slider-item_inner.active{
    background: #697482;
}
.content_right_item table{
    width: 100%;
    margin: 0 auto;
}
.content_right_item table tr th{
    background: #697482;
    color:#ffffff;
     font-family: 'Gotham-Medium';
     font-size: 14px;
     padding: 10px 0px;
     font-weight: normal;
     position: relative;
     /*border-right: 1px solid #ffffff;*/
    text-align: center;
}
.content_right_item table tr th:after{
       content: " ";
    height: 22px;
    width: 1px;
    display: inline-block;
    background: #ffffff;
    position: absolute;
    right: 0px;
    top: 6px;
}
.content_right_item table tr th:first-child{
    width: 20%;
}
.content_right_item table tr th:nth-child(3){
    width: 20%;
}
.content_right_item table tr th:nth-child(2){
    width: 31%;
}
.content_right_item table tr th:last-child{
    width: 35%;
}
.content_right_item table tr th:last-child:after{
    display: none;
}
.company_slider-item .company-details.active{
    display: block!important;
}
.content_right_item table tr td{
    padding: 3px 3px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    border: 1px solid #f3f3f3;
    border-right: none;
    border-left: none;
}
.content_right_item table tr td span.phone_num{
    font-family: 'Gotham-Medium';
     font-size: 14px;
     color:#4b4b4b;
}
.text-left{
    text-align: left!important;
}
.phone_ic{
    width: 15px;
    height: 16px;
    background: url(../img/phone_ic.png) no-repeat;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right:15px;
}
.content_right_item table input{
    width: 95%;
}
.content_right_item table input.active{
    border:1px solid #000;
}
.company-details:before{
    content: " ";
    position: absolute;
    top: -22px;
    left: calc(50% - 18px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 18.5px 21px 18.5px;
    border-color: transparent transparent #52aeca transparent;
}
.content_right_item table tr td:after {
    content: " ";
    height: 22px;
    width: 1px;
    display: inline-block;
    background: #f3f3f3;
    position: absolute;
    right: 0px;
    top: 6px;
}
.content_right_item table tr td:first-child{
    border-left: 1px solid #f3f3f3;
}
.content_right_item table tr td:last-child{
    border-right: 1px solid #f3f3f3;
    padding-left: 15px;
}
.content_right_item table tr td:last-child:after{
    display: none;
}
.stars_wrap a{
    text-decoration: none;
}
.stars_wrap {
    padding: 0px 22px;
}
.company-details:after{
    content: " ";
    position: absolute;
    top: -19px;
    left: calc(50% - 18px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 18.5px 21px 18.5px;
    border-color: transparent transparent #ffffff transparent;
}
.company-details p{
    text-align: center;
    font-family: 'Gotham-Regular';
    font-size: 12px;
}
.company-details .comp_btn{
    text-transform: uppercase;
    color:#52aeca;
    font-family: 'Gotham-Bold';
    font-size: 10px;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
}
.company-details .comp_btn:hover{
    text-decoration: underline;
}
.company_slider-item .close_slide{
    position: absolute;
    top: -9px;
    right: -6px;
    background: #7b60b3;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 3px solid #7b60b3;
    font-family: 'Gotham-Medium';
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-size: 11px;
    line-height: 9px;
    display: none;  
}
.company_slider-item.active .close_slide{
    display: block; 
}
.close_slide:hover{
    background: #ffffff;
    color: #7b60b3;
}
.card_slider-item_inner{
    position: relative;
    cursor: pointer;
}
.card_slider-item_inner .close_slide{
    position: absolute;
    top: -6px;
    right: -6px;
    background: #7b60b3;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 3px solid #7b60b3;
    font-family: 'Gotham-Medium';
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-size: 11px;
    line-height: 9px;
}
.card_slider-item_inner:hover .close_slide{
    display: block; 
}
.close_slide:hover{
    background: #ffffff;
    color: #7b60b3;
}
.company_slider-item.active{
    border:4px solid #7b60b3 ;
}
.dark_bg{
    background: #dfddde;
}
.company_slider .slick-slide img {
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.company_slider .slick-slide div{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    height: 80px;
    margin: 0 4px;
    box-sizing: border-box;
}
.card_slider .slick-slide div{
    display: -webkit-flex!important;
    display: -moz-flex!important;
    display: -ms-flex!important;
    display: -o-flex!important;
    display: flex!important;
    -ms-align-items: center;
    align-items: center;
    height: 80px;
    margin: 0px 4px;
    box-sizing: border-box;
}
.datepicker{
    background: #647684;
    width: 255px;
    height: 50px;
    display: -webkit-flex!important;
    display: -moz-flex!important;
    display: -ms-flex!important;
    display: -o-flex!important;
    display: flex!important;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    box-sizing: border-box;
}
.datepicker p{
    width: 86%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;    
    justify-content: space-between;  
    color:#fff; 
    font-family: 'Gotham-Medium';
}
.datepicker p span{
    font-size: 12px;
    margin-left: 5px;
}
#datepicker{
    width: 69px;
    background-color: transparent;  
    border: none;
    outline: none;
    color:#fff;
    font-size: 11px;
    font-family: 'Gotham-Medium';
}
#datepicker::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
   font-family: 'Gotham-Medium';
}
#datepicker::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
   font-family: 'Gotham-Medium';
}
#datepicker:-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
   font-family: 'Gotham-Medium';
}
#datepicker:-moz-placeholder { /* Firefox 18- */
  color: #ffffff;
   font-family: 'Gotham-Medium';
}
#ui-datepicker-div.ui-widget-content {
    border: none;
    background: #647684;
    color: #ffffff;
    left: 220px!important;
    top: 272px!important;
    width: 249px;
    border-radius: 0;
    z-index: 99999!important;
}
#ui-datepicker-div .ui-widget-header {
    border: none;
    background: transparent;
    color: #ffffff;
    font-weight: bold;
}
#ui-datepicker-div .ui-state-default,
#ui-datepicker-div .ui-widget-content .ui-state-default {
    border: none;
    background: transparent;
    color: #ffffff;
    font-weight: normal;
    text-align: center; 
}
#ui-datepicker-div .ui-state-default:hover,
#ui-datepicker-div .ui-widget-content .ui-state-default:hover{
    color:#56bad8;
}
#ui-datepicker-div .ui-state-active, #ui-datepicker-div .ui-widget-content .ui-state-active{
    color:#56bad8;
}
.ui-datepicker .ui-datepicker-next{
    background: url(../img/arr_right.png) center no-repeat;
}
.ui-datepicker .ui-datepicker-prev{
    background: url(../img/arr_left.png) center no-repeat;
}
.ui-datepicker .ui-datepicker-next:hover{
    background: url(../img/arr_right_black.png) center no-repeat;
    border: none;   
    cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev:hover{
    background: url(../img/arr_left_black.png) center no-repeat;
    border: none;   
    cursor: pointer;
}

.ui-datepicker th,
.ui-datepicker td{
    font-weight: normal!important;
    font-family: 'Gotham-Regular';
    font-size: 12px; 
}
.ui-datepicker td{
    font-size: 14px;
}
.ui-datepicker th:nth-of-type(6) {
    color: #56bad8;
}
.ui-datepicker th:last-of-type {
    color: #56bad8;
}
.ui-datepicker-year:before{
    content: " ";
    width: 8px;
    height: 8px;
    background: #27c8e9;
    border-radius: 50%;
    display: inline-block;  
    margin-right: 13px;
    margin-left: 7px;
}
.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    font-size: 12px;
    text-align: center;
    font-weight: normal; 
    font-family: 'Gotham-Regular';   
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.4em!important;
}
.ui-datepicker-trigger{
    cursor: pointer;    

}
.toggle {
    position: relative;
    display: block;
    width: 90px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
  }
  .toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 90px;
    height: 20px;
    display: block;
    background: #eef2f5;
    border-radius: 20px;
    transition: background 0.2s ease;
  }
  .toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 26px;
    display: block;
    background: white;
    border-radius: 50%;
    box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
    transition: all 0.2s ease;
  }
  .toggle span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: rgba(39, 200, 233, 0.5);
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
  }
  
  #cbx:checked + .toggle:before {
    background: #eef2f5;
  }
  #cbx:checked + .toggle span {
    background: #27c8e9;
    transform: translateX(67px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
  }
  #cbx:checked + .toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all 0.4s ease;
  }
  .cols_item {
      width: 290px;
  }
.cols_item span{
    color:#4b4b4b;
    font-size: 12px;
    font-family: 'Gotham-Medium';   
    display: inline-block;
    cursor: pointer;
}
.cols_item .center{
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    width: 90px;
}
.two_cols{
    display: flex;
    padding-left: 30px;
}
@keyframes ripple {
    0% {
      box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
    }
    50% {
      box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
    }
    100% {
      box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0);
    }
  }
  .md-radio {
    margin: 16px 0;
  }
  .md-radio.md-radio-inline {
    display: inline-block;
  }
  .md-radio input[type="radio"] {
    display: none;
  }
  .md-radio input[type="radio"]:checked + label:before {
    /* border-color: #eef2f5; */
    animation: ripple 0.2s linear forwards;
  }
  .md-radio input[type="radio"]:checked + label:after {
    transform: scale(1);
  }
  .md-radio label {
    display: inline-block;
    height: 20px;
    position: relative;
    padding: 0 30px;
    margin-bottom: 0;
    cursor: pointer;
    vertical-align: bottom;
    color:#4b4b4b;
    font-size: 12px;
    font-family: 'Gotham-Medium';
    display: flex;
    align-items: center;   
  }
  .md-radio label:before, .md-radio label:after {
    position: absolute;
    content: '';
    border-radius: 50%;
    transition: all .3s ease;
    transition-property: transform, border-color;
  }
  .md-radio label:before {
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    /* border: 2px solid rgba(0, 0, 0, 0.54); */
    background: #eef2f5;
    box-sizing: border-box;
  }
  .md-radio label:after {
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    transform: scale(0);
    background: #27c8e9;
  }
  .check_items{
      display: flex;
      align-items: flex-start;
  }
  .check_items span{
    color:#4b4b4b;
    font-size: 12px;
    font-family: 'Gotham-Medium';
  }
  .check_title{
      margin-top: 20px;
      margin-right: 9px;
  }
  .btns{
      width: 174px;
      height: 34px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-family: 'Lato-Bold';
      font-size: 10.5px;
      color:#ffffff;
      text-decoration: none;
      justify-content: center;
  }
  .btns.black{
      background: #697482;
  }
  .btns.blue{
    background: #52aeca;
}
.btns.violet{
    background: #7b60b3;
}
.fx-wrap{
    flex-wrap: wrap;
}
.footer_buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0px;
}
table.table_changes tr th{
    width: 20%!important;
}
table.table_changes {
    width: 95%!important;
}
#app{
    /* display: none; */
}

.addNegToCompany {
    text-align: center;
}
.addNegToCompany a{
    width: auto;
    display: inline-block;
    line-height: 36px;
    padding: 0 15px;
    margin-bottom: 10px;
}

#box_to_list_users , .FormAddUser_Bitrix{
    width: 800px;
    /*height: 200px;*/
}
.FormAddUser_Bitrix {
    display: none;
    /*position: absolute;
    z-index: 1111;
    top: 0;
    left: 0;
    background: white;
    overflow-y: auto;*/
}

.table_changes {
    font-family: 'Gotham-Medium';
    font-size: 14px;
    color: #4b4b4b;
}

/* Все чётные */
.content_item:nth-child(2n) .content_left { background: #697482; }
.content_item:nth-child(2n) .content_right { background: #ffffff; }
/*.second_color{
    background: #697482;
}
.bg_white{
    background: #ffffff;
}
*/

/* Все не чётные */
.content_item:nth-child(2n+1) .content_left {
    background: #535d69;
}
/*
.first_color{
    background: #535d69;
}
*/


.participant {
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
    height: 30px;
    position: relative;
    line-height: 30px;
    margin: 0 5px 5px 0;
    background: #bcedfc;
    color: #1f6ab5;
}
.participant a {
    padding: 0 10px 0 10px;
    display: inline-block;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
}