html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; 
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


header {
    height: 60px;
    background: #6b6b6b;
    max-width: 1920px;
    min-width: 1380px;
    margin: 0 auto;
}

main {
    max-width: 1920px;
    min-width: 1380px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background: #eef2f5;
}

main .top h1 {
    font-family: 'Gotham-Regular';
    font-size: 30px;
    display: inline-block;
}

main .center_side {
    width: 100%;
    /* margin-left: 220px; */
    overflow: hidden;
    min-height: 100vh;
    background: #eef2f5;
}

.content_side_center {
    max-width: 766px;
    width: 100%;
    /*min-height: 100vh;*/
}

.pl-60 {
    padding-left: 60px!important;
}

.pl-40 {
    padding-left: 34px!important;
}

.fx-center {
    justify-content: center;
}

.fx-start {
    justify-content: flex-start!important;
    padding-top: 15px;
}

.company_slider .slick-track{ margin-left: 0; margin-right: 0; }
.company_slider .slick-prev {
    background: url(../img/arr_left_black.png);
    left: -48px;
}

.company_slider .slick-next {
    background: url(../img/arr_right_black.png);
    left: -20px;
}
.company_slider .slick-prev:hover {
    background: url(../img/arr_left-hov.png);
    left: -48px;
}

.company_slider .slick-next:hover {
    background: url(../img/arr_right-hov.png);
    left: -20px;
}
.content_sides {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    min-height: 100vh;
}

.right_side {
    /*width: calc(100% - 1105px);*/
    min-height: 100vh;
    background: #eef2f5;
}

.left_side {
    min-width: 220px;
    background: #eef2f5;
    position: absolute;
    height: 100%;
}

.breadcrumbs {
    height: 64px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    padding-left: 25px;
    background: #ffffff;
    margin: 5px 0px;
    max-width: 640px;
}

.breadcrumbs li {
    list-style: none;
    display: inline-block;
}

.breadcrumbs a {
    font-family: 'Gotham-Regular';
    font-size: 18px;
    color: #4b4b4b;
    text-decoration: none;
}

.breadcrumbs a.active:before {
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #27c8e9;
    display: inline-block;
    margin: 0px 15px;
}

.breadcrumbs a.active {
    font-family: 'Gotham-Bold';
}

.content_item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.content_left {
    max-width: 80px;
    width: 100%;
}

.content_right {
    max-width: 686px;
    width: 100%;
}

.descr_title {
    color: #4b4b4b;
    font-family: 'Gotham-Bold';
    font-size: 14px;
    text-transform: uppercase;
}

.content_left_item {
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-family: 'Gotham-Medium';
    font-size: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    line-height: 24px;
}

.content_left_item img {
    margin-bottom: 5px;
}

.slide_comp {
    position: relative;
}

.content_right_item {
    width: 100%;
    padding-left: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    align-items: center;
    display: flex;
}

.ai_center {
    -ms-align-items: center!important;
    align-items: center!important;
}

.item_start {
    align-items: flex-start;
    padding: 15px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.p-15 {
    padding: 15px 10px 15px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bg_white {
    background: #ffffff;
}

.content_right_item textarea {
    width: 100%;
    text-align: left;
    min-height: 94px;
    resize: none;
    line-height: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 10px;
    outline: none;
    font-size: 14px;
    color: #4d4d4d;
    font-family: 'Gotham-Regular';
    background: transparent;
    /* border:1px solid #000;*/
    width: 798px;
    border: none;
}

.first_color {
    background: #535d69;
}

.second_color {
    background: #697482;
}

.m-h50 {
    min-height: 50px;
    height: 100%;
}

.m-h55 {
    min-height: 55px;
    height: 100%;
}

.divider {
    height: 9px;
}

.divider .content_left {
    background: #717d8c;
    height: 9px;
}

.divider .content_right {
    background: #eef2f5;
    height: 9px;
}

.fs-start {
    justify-content: flex-start;
    padding-top: 15px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mh-45 {
    min-height: 45px!important;
}

.m-h60 {
    min-height: 60px;
}

.m-h70 {
    min-height: 70px;
}

.m-h74 {
    min-height: 74px;
}

.m-h80 {
    min-height: 80px;
}

.m-h95 {
    min-height: 95px;
}

.m-h110 {
    min-height: 110px;
    height: 100%;
}

.m-h120 {
    min-height: 120px;
    height: 100%;
}

.m-h150 {
    min-height: 150px;
    height: 100%;
}

.pl-20 {
    padding-left: 20px!important;
}

.m-h250 {
    min-height: 250px;
}

.m-h380 {
    min-height: 380px;
}

.w-100 {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.flex-column {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.bb-none {
    border-bottom: none!important;
}

.bt-none {
    border-top: none!important;
}

.space_between {
    justify-content: space-between;
}

.pr-10 {
    padding-right: 10px;
}

.content_right_item input {
    font-size: 14px;
    color: #4d4d4d;
    font-family: 'Gotham-Medium';
    padding: 5px 0px 5px 7px;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: transparent;
    border: none;
}

.content_right_item input.active {
    border: 1px solid #000;
}

.w-290 {
    width: 290px;
}

.scheme {
    text-decoration: none;
    color: #27c8e9;
    font-family: 'Gotham-Medium';
    font-size: 12px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.scheme:after {
    content: " ";
    height: 1px;
    width: 26px;
    margin-left: 20px;
    display: inline-block;
    background: #27c8e9;
}

.input_wrap span {
    color: #4d4d4d;
    font-family: 'Gotham-Medium';
    font-size: 14px;
}

.input_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input_wrap {
    border: none;
    padding: 5px 10px;
}

.input_wrap.active {
    border: 1px solid #000;
    padding: 5px 10px;
}

.close_slide { display: none; }

input.time {
    width: 85px !important;
}

.company-details {
    display: none;
}

.company_slider-item {
    padding: 2px 0px;
    position: relative;

    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);

    transition: all 0.3s;

}
.company_slider-item:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%);
    cursor: pointer;
}

#close_sett {
    width: 105px;
    height: 80px;
    background: #ffffff;
    border: none;
    border-radius: 50%;
    font-family: "Gotham-Medium";
    position: absolute;
    z-index: 2;
    left: calc(50% - 40px);
    top: -40px;
    outline: none;
    cursor: pointer;
    transition: all 0.5s;
}

#close_sett:hover { color: #52aeca; }

#close_sett.closed {
    background: #eef2f5;
}

#close_sett span {
    position: relative;
    top: -14px;
}

#close_sett.closed span {
    position: relative;
    top: 14px;
}

.company-details {
    position: absolute;
    width: 150px;
    z-index: 1;
    background: #ffffff;
    border: 2px solid #52aeca;
    top: 40px;
    left: -68px;
    margin: 0!important;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
    min-height: 33px;
    height: auto !important;
}

.slide_card {
    position: relative;
}

.card_slider-item_inner {
    background: #dde6ea;
    color: #ffffff;
    height: 34px;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    font-family: 'Gotham-Medium';
    font-size: 12px;
}

.card_slider-item_inner:hover {
    background: #697482;
}

.content_right_item table {
    width: 100%;
    margin: 0 auto;
}

.content_right_item table tr th {
    background: #697482;
    color: #ffffff;
    font-family: 'Gotham-Medium';
    font-size: 14px;
    padding: 10px 0px;
    font-weight: normal;
    position: relative;
    /*border-right: 1px solid #ffffff;*/
}

.content_right_item table tr th:after {
    content: " ";
    height: 22px;
    width: 1px;
    display: inline-block;
    background: #ffffff;
    position: absolute;
    right: 0px;
    top: 6px;
}

.content_right_item table tr th:first-child {
    width: 20%;
}

.content_right_item table tr th:nth-child(3) {
    width: 20%;
}

.content_right_item table tr th:nth-child(2) {
    width: 31%;
}

.content_right_item table tr th:last-child {
    width: 35%;
}

.content_right_item table tr th:last-child:after {
    display: none;
}

.company_slider-item .company-details.active {
    display: block!important;
}

.content_right_item table tr td {
    padding: 3px 3px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    border: 1px solid #f3f3f3;
    border-right: none;
    border-left: none;
}

.content_right_item table tr td span.phone_num {
    font-family: 'Gotham-Medium';
    font-size: 14px;
    color: #4b4b4b;
}

.text-left {
    text-align: left!important;
}

.phone_ic {
    width: 15px;
    height: 16px;
    background: url(../img/phone_ic.png) no-repeat;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 15px;
}

.content_right_item table input {
    width: 95%;
}

.content_right_item table input.active {
    border: 1px solid #000;
}

.company-details:before {
    content: " ";
    position: absolute;
    top: -22px;
    left: calc(50% - 18px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 18.5px 21px 18.5px;
    border-color: transparent transparent #52aeca transparent;
}

.content_right_item table tr td:after {
    content: " ";
    height: 22px;
    width: 1px;
    display: inline-block;
    background: #f3f3f3;
    position: absolute;
    right: 0px;
    top: 6px;
}

.content_right_item table tr td:first-child {
    border-left: 1px solid #f3f3f3;
}

.content_right_item table tr td:last-child {
    border-right: 1px solid #f3f3f3;
}

.content_right_item table tr td:last-child:after {
    display: none;
}

.stars_wrap a {
    text-decoration: none;
}

.stars_wrap {
    padding: 0px 22px;
}

.company-details:after {
    content: " ";
    position: absolute;
    top: -19px;
    left: calc(50% - 18px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 18.5px 21px 18.5px;
    border-color: transparent transparent #ffffff transparent;
}

.company-details p {
    text-align: center;
    font-family: 'Gotham-Regular';
    font-size: 12px;
}

.company-details .comp_btn {
    text-transform: uppercase;
    color: #52aeca;
    font-family: 'Gotham-Bold';
    font-size: 10px;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
}

.company-details .comp_btn:hover {
    text-decoration: underline;
}


.company_slider-item.active {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: all 0.3s;
}
.company_slider-item.active:hover .close_slide{
    background: url("../img/close_viol.png");
    right:-1px;
    top:-7px;
}
.company_slider-item.active .close_slide {
    width: 13px;
    height: 13px;
    position: absolute;
    right: -1px;
    top: -7px;
    display: none;
    background: url("../img/close_viol.png");
    outline: none;
}
@-moz-document url-prefix()
{
}
.company_slider-item:hover .close_slide{
    width: 13px;
    height: 13px;
    position: absolute;
    right: 3px;
    top: 0px;
    outline: none;
    display: none;
}
.company_slider-item:hover .close_slide {
    width: 13px;
    height: 13px;
    position: absolute;
    right: 3px;
    top: 0px;
    display: none;
    background: url("../img/close_black.png");
    outline: none;
    cursor: pointer;
}
.company_slider-item.active .close_slide:hover{
    background: url("../img/close_viol_hove.png");
    width: 13px;
    height: 13px;
    background-size: cover;
}
.company_slider-item.active .close_slide {
    display: block;
}

.close_slide:hover {
    background: #ffffff;
    color: #7b60b3;
}

.card_slider-item_inner {
    position: relative;
    cursor: pointer;
}

.card_slider-item_inner .close_slide {
    position: absolute;
    top: -6px;
    right: -6px;
    background: #7b60b3;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 3px solid #7b60b3;
    font-family: 'Gotham-Medium';
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-size: 11px;
    line-height: 9px;
}

.card_slider-item_inner:hover .close_slide {
    display: block;
}

.close_slide:hover {
    background: #ffffff;
    color: #7b60b3;
}

/*.company_slider-item.active img {*/
.company_slider-item {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center;
    background-color: #ffffff;
}
.company_slider-item.active .test{
    outline: 4px solid #7b60b3;
    /*border: 4px solid #7b60b3;*/
}

.dark_bg {
    background: #dfddde;
}

.company_slider .slick-slide img {
    display: block;
    max-width: 100%;
    height: 37px;
    object-fit: scale-down;
}
.company_slider .slick-slide {
    margin-right: 5px;
}
.company_slider .slick-slide div {
    display: -webkit-flex!important;
    display: -moz-flex!important;
    display: -ms-flex!important;
    display: -o-flex!important;
    display: flex!important;
    -ms-align-items: center;
    align-items: center;
    /*height: 50px;
    margin: 0px 4px;*/
    height: 45px;
    width: 118px;
    margin: 10px 0;
    box-sizing: border-box;
    background-size: contain !important;
    padding: 0 7px;
}

.card_slider .slick-slide div {
    display: -webkit-flex!important;
    display: -moz-flex!important;
    display: -ms-flex!important;
    display: -o-flex!important;
    display: flex!important;
    -ms-align-items: center;
    align-items: center;
    height: 80px;
    margin: 0px 4px;
    box-sizing: border-box;
}

.datepicker {
    width: 255px;
    height: 55px;
    padding-left: 25px;
    display: -webkit-flex!important;
    display: -moz-flex!important;
    display: -ms-flex!important;
    display: -o-flex!important;
    display: flex!important;
    justify-content: flex-start;
    -ms-align-items: center;
    align-items: center;
    box-sizing: border-box;
}

.datepicker p {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    color: #4b4b4b;
    font-family: 'Gotham-Medium';
}

.datepicker p span {
    font-size: 12px;
    margin-left: 5px;
}

#datepicker {
    width: 120px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #4b4b4b;
    font-size: 18px;
    font-family: 'Gotham-Medium';
}

#datepicker::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #4b4b4b;
    font-family: 'Gotham-Medium';
}

#datepicker::-moz-placeholder {
    /* Firefox 19+ */
    color: #4b4b4b;
    font-family: 'Gotham-Medium';
}

#datepicker:-ms-input-placeholder {
    /* IE 10+ */
    color: #4b4b4b;
    font-family: 'Gotham-Medium';
}

#datepicker:-moz-placeholder {
    /* Firefox 18- */
    color: #4b4b4b;
    font-family: 'Gotham-Medium';
}

.add_partipicant input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #a6a6a6;
    font-family: 'Gotham-Regular';
}

.add_partipicant input::-moz-placeholder {
    /* Firefox 19+ */
    color: #a6a6a6;
    font-family: 'Gotham-Regular';
}

.add_partipicant input:-ms-input-placeholder {
    /* IE 10+ */
    color: #a6a6a6;
    font-family: 'Gotham-Regular';
}

.add_partipicant input:-moz-placeholder {
    /* Firefox 18- */
    color: #a6a6a6;
    font-family: 'Gotham-Regular';
}

#more_info::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #a6a6a6;
    font-family: 'Gotham-Regular';
}

#more_info::-moz-placeholder {
    /* Firefox 19+ */
    color: #a6a6a6;
    font-family: 'Gotham-Regular';
}

#more_info:-ms-input-placeholder {
    /* IE 10+ */
    color: #a6a6a6;
    font-family: 'Gotham-Regular';
}

#more_info:-moz-placeholder {
    /* Firefox 18- */
    color: #a6a6a6;
    font-family: 'Gotham-Regular';
}

.add_partipicant {
    width: 100%;
    position: relative;
}

.add_partipicant input {
    font-size: 10px;
    width: 100%;
    padding: 10px 0px;
    padding-left: 25px;
    border-bottom: 1px solid #000;
}

#add_partipicant-btn {
    position: absolute;
    left: 0px;
    top: 4px;
}

#ui-datepicker-div.ui-widget-content {
    border: none;
    background: #647684;
    color: #ffffff;
    /* left: 220px!important;
    top: 272px!important; */
    width: 249px;
    border-radius: 0;
    z-index: 99999!important;
}

#more_info {
    height: 70px;
    resize: none;
    width: 100%;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    font-size: 10px;
    font-family: "Gotham-Regular";
}

#ui-datepicker-div .ui-widget-header {
    border: none;
    background: transparent;
    color: #ffffff;
    font-weight: bold;
}

#ui-datepicker-div .ui-state-default, #ui-datepicker-div .ui-widget-content .ui-state-default {
    border: none;
    background: transparent;
    color: #ffffff;
    font-weight: normal;
    text-align: center;
}

#ui-datepicker-div .ui-state-default:hover, #ui-datepicker-div .ui-widget-content .ui-state-default:hover {
    color: #56bad8;
}

#ui-datepicker-div .ui-state-active, #ui-datepicker-div .ui-widget-content .ui-state-active {
    color: #56bad8;
}

.ui-datepicker .ui-datepicker-next {
    background: url(../img/arr_right.png) center no-repeat;
}

.ui-datepicker .ui-datepicker-prev {
    background: url(../img/arr_left.png) center no-repeat;
}

.ui-datepicker .ui-datepicker-next:hover {
    background: url(../img/arr_right_black.png) center no-repeat;
    border: none;
    cursor: pointer;
}

.ui-datepicker .ui-datepicker-prev:hover {
    background: url(../img/arr_left_black.png) center no-repeat;
    border: none;
    cursor: pointer;
}

.ui-datepicker th, .ui-datepicker td {
    font-weight: normal!important;
    font-family: 'Gotham-Regular';
    font-size: 12px;
}

.ui-datepicker td {
    font-size: 14px;
}

.ui-datepicker th:nth-of-type(6) {
    color: #56bad8;
}

.ui-datepicker th:last-of-type {
    color: #56bad8;
}

.ui-datepicker-year:before {
    content: " ";
    width: 8px;
    height: 8px;
    background: #27c8e9;
    border-radius: 50%;
    display: inline-block;
    margin-right: 13px;
    margin-left: 7px;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    font-size: 12px;
    text-align: center;
    font-weight: normal;
    font-family: 'Gotham-Regular';
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.4em!important;
}

.ui-datepicker-trigger {
    cursor: pointer;
}

.toggle {
    position: relative;
    display: block;
    width: 90px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}

.toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 90px;
    height: 20px;
    display: block;
    background: #eef2f5;
    border-radius: 20px;
    transition: background 0.2s ease;
}

.toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 26px;
    display: block;
    background: white;
    border-radius: 50%;
    box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
    transition: all 0.2s ease;
}

.toggle span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: rgba(39, 200, 233, 0.5);
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
}

#cbx:checked+.toggle:before {
    background: #eef2f5;
}

#cbx:checked+.toggle span {
    background: #27c8e9;
    transform: translateX(67px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}

#cbx:checked+.toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all 0.4s ease;
}

.cols_item {
    width: 290px;
}

.cols_item span {
    color: #4b4b4b;
    font-size: 12px;
    font-family: 'Gotham-Medium';
    display: inline-block;
    cursor: pointer;
}

.cols_item .center {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    width: 90px;
}

.two_cols {
    display: flex;
    padding-left: 30px;
}

@keyframes ripple {
    0% {
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
    }
    50% {
        box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
    }
    100% {
        box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0);
    }
}

.md-radio {
    margin: 16px 0;
}

.md-radio.md-radio-inline {
    display: inline-block;
}

.md-radio input[type="radio"] {
    display: none;
}

.md-radio input[type="radio"]:checked+label:before {
    /* border-color: #eef2f5; */
    animation: ripple 0.2s linear forwards;
}

.md-radio input[type="radio"]:checked+label:after {
    transform: scale(1);
}

.md-radio label {
    display: inline-block;
    height: 20px;
    position: relative;
    padding: 0 30px;
    margin-bottom: 0;
    cursor: pointer;
    vertical-align: bottom;
    color: #4b4b4b;
    font-size: 12px;
    font-family: 'Gotham-Medium';
    display: flex;
    align-items: center;
}

.md-radio label:before, .md-radio label:after {
    position: absolute;
    content: '';
    border-radius: 50%;
    transition: all .3s ease;
    transition-property: transform, border-color;
}

.md-radio label:before {
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    /* border: 2px solid rgba(0, 0, 0, 0.54); */
    background: #eef2f5;
    box-sizing: border-box;
}

.md-radio label:after {
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    transform: scale(0);
    background: #27c8e9;
}

.check_items {
    display: flex;
    align-items: flex-start;
}

.check_items span {
    color: #4b4b4b;
    font-size: 12px;
    font-family: 'Gotham-Medium';
}

.check_title {
    margin-top: 20px;
    margin-right: 9px;
}

.btns {
    width: 174px;
    height: 34px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Lato-Bold';
    font-size: 10.5px;
    color: #ffffff;
    text-decoration: none;
    justify-content: center;
}

.btns.black {
    background: #697482;
}

.btns.blue {
    background: #52aeca;
}

.btns.violet {
    background: #7b60b3;
}

.fx-wrap {
    flex-wrap: wrap;
}

.footer_buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0px;
    margin-top: 50px;
}

table.table_changes tr th {
    width: 20%!important;
}

table.table_changes {
    width: 95%!important;
}

.time_slider-item span {
    color: #4b4b4b;
    font-size: 12px;
    font-family: 'Gotham-Bold';
    padding: 6px 10px;
    width: 52px;
    text-align: center;
    display: inline-block;
}

.time_slider-item span:hover,
.time_slider-item span.active {
    background: #717d8c;
    color: #ffffff;
}

.slick-track {
    background: transparent;
}

.time_slider .slick-prev {
    background: url(../img/arr_left_black.png);
    left: -9px;
}

.time_slider .slick-next {
    background: url(../img/arr_right_black.png);
    left: 19px;
}
.time_slider .slick-prev:hover {
    background: url(../img/arr_left-hov.png);
    left: -9px;
}

.time_slider .slick-next:hover {
    background: url(../img/arr_right-hov.png);
    /*left: -20px;*/
    left: 19px;
}
.sliderCont {
    width: 94%;
    height: 20px;
    float: left;
    padding-left: 3px;
    margin-bottom: 20px;
}

#slider {
    width: 94%;
}

.lh_init {
    line-height: initial!important;
    text-align: center!important;
    justify-content: center;
}

.sec_cont {
    width: 83%;
    height: 2px;
}

#minpeople {
    width: 43px;
    text-align: center;
    height: 25px;
    position: relative;
    left: -12px;
    padding-left: 0;
    margin-right: 30px;
    border: 1px solid #000;
}

#value {
    position: relative;
    top: 10px;
    left: -15px;
    font-size: 12px;
    color: #565656;
    font-family: "Gotham-Medium";
}

.mb0 {
    margin-bottom: 0!important;
}

.sliderCont .ui-slider {
    position: relative;
    text-align: left;
}

.sliderCont .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 17px;
    height: 17px;
    border: none;
    border-radius: 50%!important;
    background: #7b60b3;
    cursor: pointer;
    outline: none;
}

.sliderCont .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    overflow: hidden;
}

#slider_time #minCost, #slider_time #maxCost, #slider2 #minCost2, #slider2 #maxCost2 {
    position: absolute;
    width: 65px;
    height: 25px;
    font-size: 12px;
    text-align: center;
    font-family: 'Gotham-Medium';
    color: #565656;
}

.triangle {
    position: absolute;
    width: 65px;
    top: 15px!important;
    height: 25px;
}

.service_wrap {
    display: block;
    margin-left: 50px;
    align-items: center;
    min-height: 70px;
    width: 585px;
    padding: 15px 0;
    /* padding-bottom: 40px; */
}

.service_item {
    position: relative;
    display: inline-block;
    margin: 10px 10px;
}

.service_item img {
    cursor: pointer;
}

.sliderCont .ui-slider-horizontal {
    height: 3px;
}

.service_item-details {
    position: absolute;
    width: 150px;
    z-index: 1;
    background: #717d8c;
    border: 2px solid #717d8c;
    top: 48px;
    color: #ffffff;
    left: -63px;
    text-align: center;
    margin: 0!important;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
    min-height: 33px;
    font-family: "Gotham-Regular";
    font-size: 10px;
    height: auto !important;
}

.service_item:hover .service_item-details {
    display: block;
}

.service_item-details:before {
    content: " ";
    position: absolute;
    top: -18px;
    left: calc(50% - 13px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 13.5px 16px 13.5px;
    border-color: transparent transparent #717d8c transparent;
}

.sliderCont .ui-slider-horizontal .ui-slider-handle {
    top: -8px;
    margin-left: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderCont .ui-slider-horizontal .ui-slider-handle:hover::before {
    content: " ";
    background: #ffffff;
    width: 9px;
    height: 9px;
    display: inline-block;
    border-radius: 50%;
}

.content_left_item.lh_init img {
    margin-bottom: 10px;
}

.content_left_item.mb-init p {
    line-height: 11px!important;
}

.content_left_item.mb-init img {
    margin-bottom: 5px!important;
}

.sliderCont .ui-slider-horizontal .ui-slider-handle:active::before {
    content: " ";
    background: #ffffff;
    width: 9px;
    height: 9px;
    display: inline-block;
    border-radius: 50%;
}

.type_order {
    display: flex;
    /*justify-content: space-between;*/
    width: 100%;
}

.order_item {
    font-size: 9px;
    color: #474747;
    background: #eef2f5;
    padding: 5px 10px;
    display: flex;
    width: 85px;
    height: 30px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-family: "Gotham-Bold";
    text-transform: uppercase;
    transition: all 0.5s;
    margin: 0 10px;
}

.order_item:hover {
    color: #eef2f5;
    background: #697482;
}

.order_item.active {
    background: #717d8c;
    color: #ffffff;
}

.sliderCont .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}

.sliderCont .ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}

.sliderCont .ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}

.sliderCont .ui-widget-content {
    background-color: #535d69;
    border-color: #535d69;
    width: 100%;
    border-radius: 7px;
}

.sliderCont .ui-widget-header {
    border: 1px solid #7b60b3;
    background: #7b60b3;
}

.sliderCont .ui-corner-all {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.break_title {
    color: #565656;
    font-family: "Gotham-Medium";
    font-size: 12px;
    /*width: 140px;*/
    width: 90px;
    padding-top: 6px;
}

.pl-65 {
    padding-left: 65px!important;
}

.break {
    display: flex;
    margin-bottom: 25px;
}

.d-block {
    display: block;
}

.break_item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
    position: relative;
}

.break_item img {
    margin-right: 10px;
}

.w-77 {
    width: 95px;
    display: inline-block;
}

.break_item span {
    color: #565656;
    font-family: "Gotham-Medium";
    font-size: 12px;
    /*margin-left: 25px;*/
}

.break_input-wrap {
    margin: 0px 5px;
}

.break_input-wrap input {
    border: none;
    border-bottom: 1px solid #000;
    width: 15px;
    text-align: center;
    font-size: 12px;
    padding: 0;
}
.break_input_delete{
    position: absolute;
    right:-30px;
}
.break_input_delete img {

}
.checkbox_repeat {
    margin-bottom: 25px;
}

/* Base for label styling */

/*[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:not(:checked)+label, [type="checkbox"]:checked+label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
    transition: all 0.5s;
}*/

/* checkbox aspect */

/*
[type="checkbox"]:not(:checked)+label:before, [type="checkbox"]:checked+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: -5px;
    width: 15px;
    height: 15px;
    background: url(../img/checkbox_sprite.png) 0px -15px;
}
*/

/* checked mark aspect */

/*[type="checkbox"]:not(:checked)+label:after, [type="checkbox"]:checked+label:after {
    content: '';
    position: absolute;
    left: 0;
    top: -5px;
    width: 15px;
    height: 15px;
    background: url(../img/checkbox_sprite.png) 0px 0px;
}*/

/* checked mark aspect changes */

/*
[type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
    transform: scale(0);
}
*/

/*[type="checkbox"]:checked+label:after {
    opacity: 1;
    transform: scale(1);
}*/

/* disabled checkbox */

.checkbox_wrap {
    color: #565656;
    display: flex;
    align-items: flex-end;
    font-size: 12px;
    font-family: "Gotham-Medium";
}

.custom-select.active {
    background: #ffffff;
}

.custom-select select {
    display: none;
    /*hide original SELECT element:*/
}

.select-selected {
    font-size: 10px;
    color: #a6a6a6;
    font-family: "Gotham-Regular";
    transition: all 0.5s;
    padding: 2px 16px 2px;
    border-bottom: 1px solid #dcdada;
    margin: 3px 5px;
}

/*style the arrow inside the select element:*/

/* .select-selected::before {
    content:" ";
    width: 185px;
    height: 1px;
    background: #dcdada;
    position: absolute;
    bottom: 0px;
    left:calc(50% - 92.5px);
} */

.select-selected:after {
    position: absolute;
    content: "";
    top: 7px;
    right: 10px;
    width: 9px;
    height: 5px;
    background: url(../img/arr_down_select.png);
    transition: all 0.5s;
}

/*point the arrow upwards when the select box is open (active):*/

.select-selected.select-arrow-active:after {
    transform: rotate(180deg);
    top: 7px;
}

.select-arrow-active {
    background: #ffffff;
}

/*style the items (options), including the selected item:*/

.select-items div {
    color: #565656;
    padding: 4px 16px;
    font-size: 10px;
    font-family: "Gotham-Regular";
    cursor: pointer;
}

/*style items (options):*/

.select-items {
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    transition: all 0.5s;
}

/*hide the items when the select box is closed:*/

.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    font-family: "Gotham-Bold";
}

.custom-select {
    position: relative;
}

.select_item {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    align-items: center;
}

.select_item span {
    font-size: 12px;
    font-family: "Gotham-Medium";
    color: #565656;
    margin-right: 15px;
}

.repeat, .end_repeat {
    display: flex;
    margin-bottom: 25px;
    font-size: 12px;
    font-family: "Gotham-Medium";
    color: #565656;
}

.end_repat-title {
    font-size: 12px;
    font-family: "Gotham-Medium";
    color: #565656;
    display: flex;
    width: 50%;
    align-items: center;
}

#end_datepicker {
    width: 120px;
    font-size: 10px;
    color: #a6a6a6;
    font-family: "Gotham-Regular";
    transition: all 0.5s;
    padding: 2px 5px 2px;
    border-bottom: 1px solid #dcdada;
    margin: 3px 5px;
    text-align: left;
}

.end_datepicker {
    height: auto!important;
}

.end_date {
    display: flex;
    width: 50%;
    align-items: center;
}

#end_datepicker::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 10px;
    color: #a6a6a6;
    font-family: "Gotham-Regular";
}

.ui-datepicker-trigger {
    transform: rotate(0deg);
}

.ui-datepicker-trigger.active {
    transform: rotate(180deg);
}

#end_datepicker::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 10px;
    color: #a6a6a6;
    font-family: "Gotham-Regular";
}

#end_datepicker:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 10px;
    color: #a6a6a6;
    font-family: "Gotham-Regular";
}

.checkbox_wrap span {
    font-size: 10px;
    color: #a6a6a6;
    font-family: "Gotham-Regular";
}

#end_datepicker:-moz-placeholder {
    /* Firefox 18- */
    font-size: 10px;
    color: #a6a6a6;
    font-family: "Gotham-Regular";
}

.remind {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.remind_title {
    font-size: 12px;
    font-family: "Gotham-Medium";
    color: #565656;
    display: flex;
    width: 20%;
    align-items: center;
}

.remid_checkboxes {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-between;
}

.mail_post span {
    font-size: 10px;
    color: #a6a6a6;
    font-family: "Gotham-Regular";
    margin-left: 15px;
}

.mail_post b.active {
    color: #7b60b3;
}
.avaible_title{
    color:#565656;
    font-family: "Gotham-Medium";
    font-size: 18px;
    min-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 22%;
    text-align: center;
}
.avaible_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.avaible_item{
    padding: 10px 8px;
    padding-top: 0;
    max-width: 157px;
    box-sizing: border-box;
    border: 3px solid transparent;
    position: relative;
    margin-bottom: 15px;
    transition:all 0.5s;
    min-height: 325px;
    float: left;
    margin-right: 20px;
}

.service_img {
    width: 30px !important;
    height: 30px !important;
    background-size: contain !important;
}

/*
.service1_img{
    background: url(../img/service1.png) center no-repeat;
    width: 26px;
    height: 24px;
}
.service2_img{
    background: url(../img/service2.png) center no-repeat;
    width: 26px;
    height: 22px;
}
.service3_img{
    background: url(../img/service3.png) center no-repeat;
    width: 24px;
    height: 26px;
}
.service4_img{
    background: url(../img/service4.png) center no-repeat;
    width: 26px;
    height: 22px;
}
.service5_img{
    background: url(../img/service4.png) center no-repeat;
    width: 24px;
    height: 24px;
}
.service1_img.active{
    background: url(../img/service1_active.png) center no-repeat;
    width: 26px;
    height: 24px;
}
.service2_img.active{
    background: url(../img/service2_active.png) center no-repeat;
    width: 26px;
    height: 22px;
}
.service3_img.active{
    background: url(../img/service3_active.png) center no-repeat;
    width: 24px;
    height: 26px;
}
.service4_img.active{
    background: url(../img/service4_active.png) center no-repeat;
    width: 26px;
    height: 22px;
}
.service5_img.active{
    background: url(../img/service4_active.png) center no-repeat;
    width: 24px;
    height: 24px;
}*/
.avaible_item:hover{
    border: 3px solid #52aeca;
}
.avaible_item.ordered{
    border:3px solid #7b60b3;
}
.avaible_item.ordered:hover{
    border:3px solid #7b60b3;
}
.avaible_item.active{
    border: 3px solid #52aeca;
}
.avaible_item.active .avaible_close{
    width: 13px;
    height: 13px;
    background: #52aeca url(../img/avaible_close.png) center no-repeat;
    position: absolute;
    top: -8px;
    right: -8px;
    border-radius: 50%;
}
.avaible_item.ordered:hover .avaible_close{
    display: none;
}
.avaible_tags{
    height: 16px;
    display: flex;
    align-items: center;
    background: #eef2f5;
    position: relative;
    top: -11px;
    padding: 0px 5px;
    display: inline-block
}
.avaible_tags img{
    margin-right: 6px;
}
.right_side{
    padding: 0 15px;
    /*max-width: 360px;*/
    width: 40%;
    box-sizing: border-box;
}
.avaible_text{
    color:#4b4b4b;
    font-family: "Gotham-Regular";
    font-size: 12px;
    margin-top: 10px;
}
.avaible_item-title{
    margin-bottom: 5px;
}
.avaible_item-name{
    text-transform: uppercase;
    font-family: "Gotham-Medium";
    margin-bottom: 10px;
}
.avaible_item_descr p{
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
.avaible_item_descr p b{
    font-family: "Gotham-Medium";
}
.avaible_image{ position: relative; }
.violet_wrap{
    position: absolute;
    top:0px;
    left:0px;
    width: 135px;
    height: 73px;
    background:rgba(123, 96, 179,0.8);
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Gotham-Regular";
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.avaible_image img{ width: 100%; }
.not-active { pointer-events: none; }
#upload_negs { position: relative; }
#preloader { width: 100%; height: 100%; position: absolute; z-index: 999; background: rgba(255, 255, 255, 0.5);  }
#preloader_2 {
    width: 96%;
    height: 100%;
    position: absolute;
    z-index: 999;
    background: #fff;
    display: none;
    margin-top: -15px;
}
#preloader_2::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../img/tenor.gif);
    background-size: 22%;
    background-repeat: no-repeat;
    background-position: center;
}
#preloader::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../img/loading-png-gif-6.gif);
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: 50% 10%;
}
.not_negs { color: #565656; font-family: 'Gotham-Medium'; font-size: 12px; padding-top: 30px; }
.data_negs_users { display: none; }
#listNegs { min-width: 50%; max-width: 100%; min-height: 300px; width: auto; margin-top: 10px; }
.more_info {
    background: url(../img/vertical_dots_mint.png) no-repeat;
    display: inline-block;
    width: 4px;
    height: 18px;
    z-index: 2;
    position: absolute;
    top: -1px;
    right: 10px;
    cursor: pointer;
}

.box_info {
    position: absolute;
    background: white;
    padding: 5px 8px 5px 5px;
    z-index: 99;
    border: 2px solid #52aeca;
    right: -2px;
    top: 20px;
    display: none;
    min-width: 104px;
    text-align: right;
}
.more_info:hover .box_info { display: block; }

.bxec-popup .calendar-inp, .bxec-popup .bxec-time input, .bxec-popup .bxecpl-loc-cont input {
    height: 30px !important;
    padding: 0 6px 0 !important;
}

.btn_master {
    font-family: 'Lato-Bold';
    color: #ffffff;
    background: #56bad8;
    border: 2px solid #56bad8;
    padding: 17px 50px;
    font-size: 12px;
    /* width: 210px; */
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
}

.btn_master:hover,
.btn_master.active{
    background: #ffffff;
    color:#56bad8;
}